/target/

# Eclipse and Maven
.classpath
.project
bin
target
.cache
*.log
.settings/org.eclipse.core.resources.prefs

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml
# Default ignored files
/workspace.xml
.DS_Store
*.swp
local
.dbeaver*
**/*.log
.directory
venv/
dependency-reduced-pom.xml
pom.xml.versionsBackup
~*
*.lock
*.bak
*.orig
*.old
*.md.html
*.flattened-pom.xml