/target/

# Eclipse and Maven
.classpath
.project
bin
target
.cache
*.log

# Intellij
.idea
# Intellij recommends to share iml files, however, better don't share files which might be outdated
*.iml
# Default ignored files
/workspace.xml