language: java
matrix:
  include:
    - jdk: openjdk11
script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=com.exasol:java-util-logging-testing -Dsonar.login=${SONAR_TOKEN}
cache:
  directories:
    - "$HOME/.m2"