language: java
matrix:
  include:
    - jdk: openjdk11

addons:
  sonarcloud:
    organization: exasol

script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent org.jacoco:jacoco-maven-plugin:prepare-agent-integration verify sonar:sonar
cache:
  directories:
    - "$HOME/.m2"